
/* Дебаты */
.debati_time
{
	float: right;
	font-weight: bold;
    height: 50px;
    padding-top: 10px;
	/*margin-left: 30px;*/
	/*white-space: nowrap;*/
}

.helpers_list{
  border: 1px solid;
}
.helpers_list td{
  border: 1px solid;
  padding: 5px;
}
.helpers_list th{
  border: 2px solid;
  padding: 5px;
}



/* CHAT */

.ChatMessages {
    width:100%;
    text-align: left !important;
}

.ChatMessagesB, .ChatMessagesB_helpers {
  width:400px;
  overflow:auto;
  border:1px solid #ABBFD1;
  font-size:11px;
  color:#000;
  background: #FFFFFF;
}
.ChatMessagesB{
  height:180px;
}
.ChatMessagesB_helpers {
  height:100px;
}


.ChatForm {
padding-top:10px;
}

.ChatSendTitle {
vertical-align:bottom;
}

.ChatLine {
    text-align: left;
    width:96%;
}

.ChatLineNick {
padding-right:5px;
}

.ChatLineNick img {
display:inline;
}

a.Nick {
color:#0E859F;
}

.ModerComments .TextRow .text,.ModerComments .TextRowBig .text {
width:280px;
height:100px;
font-family:Arial, Tahoma, Sans-Serif, Verdana;
font-size:11px;
}


/* END  CHAT */

.center{
    text-align: center !important;
    white-space: normal !important;
}
.width_400{
  width: 400px;
}

.left{
    text-align: left;
}
.questions td, .questions #cmod_tab2 td
{
	white-space: normal;
}

.debate_user td{
    background: #E9F1F7;
}
.debate_avator{
    display: block;
    width: 110px;
    height: 110px;
}
.padding3{
    padding: 3px;
}

#debate_MessageboxForDebateUsers, #vote_for_user_1, #vote_for_user_2, #pauseTitle,
#pauseDescription
{
    display: none;
}

.gray{
  color: #7E7D8A;
}




