.dialog
{
	clear: both;
	border-collapse: collapse;
}

.dialog img
{
	padding: 0px;
	margin: 0px;
}

.dialog td
{
	padding: 0px;
}

.dialog .h_left
{
	background: url('../images/dialog/h_left.gif') no-repeat left top;
	width: 16px;
	height: 44px;
	padding: 0px;
}

.dialog .h_left img
{
	width: 16px;
}

.dialog .h_right
{
	background: url('../images/dialog/h_right.gif') no-repeat right top;
	width: 16px;
	height: 44px;
	padding: 0px;
}

.dialog .h_right img
{
	width: 16px;
}

.dialog .h_cen
{
	background: url('../images/dialog/h_rep.gif') repeat-x left top;
	height: 44px;
	padding: 0px;
}

.dialog .h_cen .text
{
	font-size: 17px;
	font-weight: bold;
	padding-right: 10px;
	white-space: nowrap;
}

.dialog .c_left
{
	background: url('../images/dialog/c_left.gif') repeat-y left top;
	width: 16px;
	padding: 0px;
}

.dialog .c_right
{
	background: url('../images/dialog/c_right.gif') repeat-y right top;
	width: 16px;
	padding: 0px;
}

.dialog .c_cen
{
	background: #f4f3f3 url('../images/dialog/delim.gif') repeat-x left top;
	padding-top: 10px;
	padding-bottom: 10px;
}

.dialog .b_left
{
	background: url('../images/dialog/b_left.gif') no-repeat left top;
	width: 16px;
	height: 63px;
	padding: 0px;
}

.dialog .b_right
{
	background: url('../images/dialog/b_right.gif') no-repeat right top;
	width: 16px;
	height: 63px;
	padding: 0px;
}

.dialog .b_cen
{
	background: url('../images/dialog/b_rep.gif') repeat-x left top;
	height: 63px;
	padding: 0px;
	text-align: right;
}

.dialog .b_delim
{
	width: 100%; 
	height: 63px; 
	line-height: 63px;
	background: url('../images/dialog/delim.gif') repeat-x left top;
	padding-top: 10px;
}