html,body {
	height:100%;
	}
* html body {
	background:url(about:blank) fixed;
	}
	

	
.clearfix {
	display: inline-block;
	position:relative;
	}
html[xmlns] .clearfix {
	display: block;
	}
* html .clearfix {
	height: 1%;
	}
.user-bar .logout-link{position:relative;}

input
{
	scrollbar-face-color: expression(runtimeStyle.scrollbarFaceColor = '#fff', className = (className) ? ' type-'+type : 'type-'+type)
}

* html .photo-album-list .it{height:210px;}
* html .photos-list .it{height:195px;}

* html .user-profile .main-info,
* html .user-profile .about-info,
* html .user-profile .rating-info{
	height:110px;
	}

* html .user-profile{
	position:relative;
	}

* html .user-menu a:hover{position:relative;}
* html .menu .icon,
* html .drop-icon,
* html .widget-tabs .controll,
* html .widget-header .controll .icon,
* html .arrow-icon,
* html .navigation .icon,
* html .add-tab-icon,
* html .member-info .controll .icon,
* html .blog-post h2 .func .icon,
a .icon,
.member-info .member-name{cursor:hand;cursor:pointer;}

* html .content-preview-list li,
.main-action a,
.content-header h1,
.question-abridged-preview-view li,
.avatar-link:hover,
.question-preview-list li,
.bid .vl,
* html .user-blog-view dl,
.user-action li,
.user-profile,
.edit-box .users .user-it,
* html .leave-comment,
.groups-list dd,
.site-features li{zoom:1;}

.blog-post .number-of{top:6px;}

* html .content-preview-list .expanded-view{height:86px;}
* html .question-abridged-preview-view .it{height:50px;}
* html .question-user-list li{height:auto;}
.pages span{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	}

.script-link:hover{position:relative;}

.ask-form textarea,article-form .input-field input{width:99%;}

* html .question-abridged-preview-view dd .icon-s,
* html .question-abridged-preview-view dd .icon{margin-top:3px}
* html .question-abridged-preview-view dd .arrow-icon{margin-top:5px}


* html .post-meta .bg{overflow-y:hidden;}
* html .post-meta .bg .dropdown{position:relative;}
* html .debate-page .member-info{overflow-x:hidden;}


* html .member-info .controll{width:120px;margin:0 0 0 -16px;}
.member-info .avatar a:hover {zoom:1;}

* html .user-blog-view dl,
* html .user-blog-view .links{height:100px;}

.photo-album-list{margin-bottom:30px;}

* html .groups-list dd {height:30px;}

.head,
.middle{position:relative}

* html .user-profile .main-info{height:100px;}

.post-meta .rate{padding-top:3px;}
.post-meta .rate .positive,
.post-meta .rate .negative{
	padding-left:16px;
	margin-left:0;
	zoom:1;
	}
.post-meta .rate .positive .icon,
.post-meta .rate .negative .icon{
	left:16px;
	}

.item-edit-list{margin-bottom:20px;overflow:hidden;}

* html .edit-box .users .user-it{height:52px;}
* html .edit-box .users .cntrl{padding-left:0;}

* html .popup-frame {
	position:absolute;
	top:expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
	overflow:hidden;
}
.popup-shadow {
	filter:alpha(opacity=50);
	}
.popup-frame IFRAME{
 display:none;/*sorry for IE5*/ 
 display/**/:block;/*sorry for IE5*/
 position:absolute;/*must have*/
 top:0;/*must have*/
 left:0;/*must have*/
 z-index:-1;/*must have*/
 filter:mask();/*must have*/
 width:2000px;/*must have for any big value*/
 height:3000px/*must have for any big value*/;
}

.main-form input.type-text,
.main-form input.type-password,
.main-form select{vertical-align:middle;margin-right:5px;}
.main-form input.type-text{padding:2px;}
.main-form .f-small input.type-text,
.main-form .f-small input.type-password{width:200px;}
.main-form .f-mid input.type-text,
.main-form .f-mid input.type-password{width:320px;}
.main-form .f-bbig input.type-text,
.main-form .f-bbig input.type-password{width:450px;}
.main-form .f-mid input.type-file{width:auto;}
.main-form .f-smid input.type-text,
.main-form .f-smid input.type-password{width:230px;}

.chat .clearfix,
.photo-gallery .clearfix{position:static;}

.item-edit-list .actions li{margin-bottom:2px;}
.item-edit-list .actions input{margin-left:-4px;margin-right:-1px}
.question-user-list .action .func{left:18px;}


* html .item-edit-list .album img{
	margin:-1px 0 0 -12px
	}

.debate-page .view-filter{
	position:relative;
	left:-12px;
	margin-right:-24px;
	margin-left:0;
	width:100%;
	}

.article-form .input-field input{width:99%}
.comment-form textarea{width:99.4%;}

.nav-list li li input{margin:-2px 4px -2px 0;}

