.list
{
	clear: both;
	padding-top: 20px;
}

.list h3
{
	color: #63b3fe;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	display: inline;
}

.list .options
{
	float: right;
}

/* Таблица */

.list_table
{
	clear: both;
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
	margin-bottom: 10px;
}

.list_table .head
{
	background: url('../img/list_h_rep.gif') repeat-x;
	border: 0px;
}

.list_table .head .first
{
	background: url('../img/list_h_left.gif') no-repeat left top;
	width: 4px;
	padding: 0px;
}

.list_table .head .last
{
	background: url('../img/list_h_right.gif') no-repeat right top;
	width: 4px;
	padding: 0px;
}

.list_table .head td
{
	height: 47px;
	padding: 4px;
}

.list_table td
{
	padding: 4px;
	border-bottom: 1px dashed #d6d5d5;
}


