

/* Checkbox Tree */
.checkbox_tree
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.checkbox_tree li
{
	padding: 3px 10px 3px 22px;
	position: relative;
}

.checkbox_tree input,
.rss_cat input
{
	margin: 0 5px 0 0;
	padding: 0;
}

.checkbox_tree li img
{
	position: absolute;
	top: 4px;
	_top: 7px;
	left: 6px;
	_left: -16px;
}


.block_ee4 .block_title .block_title_right .checkbox_tree_m
{
	text-align: right;
	font-size: 9px;
	color: #CBDFEB;
}

.block_ee4 .block_title .block_title_right .checkbox_tree_m a
{
	font-size: 9px;
	color: #8CB9D1;
	text-decoration: none;
}

.block_ee4 .block_title .block_title_right .checkbox_tree_m a:hover
{
	font-size: 9px;
	text-decoration: underline;
}

.block_ee4 .block_title .block_title_right .checkbox_tree_m a.active
{
	color: #006699;
}



/* RSS Cat */
.rss_cat
{
	margin-bottom: 7px;
}

.rss_cat ul
{
	list-style-type: none;
	padding: 0;
	margin: -4px 0 0 0;
}

.rss_cat ul li
{
	padding: 2px 0 2px 7px;
}


/* List Style */
.list_style1
{
	list-style-type: none;
	padding: 0;
	margin: 2px;
}

.list_style1 li
{
	background: url('../images/list_box.gif') 0 50% no-repeat;
	padding: 0 0 0 10px;
}



/* Cat Tree */
.cat_tree
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.cat_tree li
{
	margin: 2px 0 2px 20px;
}

.cat_tree li img
{
	vertical-align: middle;
	position: relative;
	right: 3px;
}


.minus{
    /*margin-top:5px;*/
    display: inline-block;
    background: url('../images/chb_minus.png') 0 50% no-repeat;
}

.plus{
    /*margin-top:5px;*/
    display: inline-block;
    background: url('../images/chb_plus.png') 0 50% no-repeat;
}

.strike{
   text-decoration: line-through;
}

.overflow{
    width: 50px;
    overflow: hidden;
}

.banner_code{
    border: 1px solid #075074;
    display: none;
    text-align: left;
}


