/* Стилевой файл страницы просмотра отдельной фотографии */

.rateRadios {

}
.rateRadios TH, .rateRadios TD {
  text-align:center;
  vertical-align:top;
  font-weight:normal;
  padding:2px;
  //padding:0px;
}
.ratecapt {
  padding-left:10px;
}
#rateBut {
  height:33px;
  width:150px;
  margin-left:5px;
}
.photoRating {
  font-size:11px;
  color:#999;
  margin-bottom:5px;
}
.alreadyRated {
  font-weight:bold;
  color:#c00;
  margin-top:10px;
  margin-bottom:10px;
}