#tabs
	{
	width: 100%;
	}
	
#tabs .tab
	{
	border: 1px solid #C7EEF8;
	background-color: #EEFAFD;
	padding: 0px 7px;
	line-height: 17px;
	height: 20px;
	position: relative;
	float: left;
	margin-right: 1px;
	z-index: 2;
	}
.tab_space{
    width: 80px;
}

#tabs .tab-over
	{
	background-color: white;
	}
	
#tabs .add
	{
	padding: 0px 7px;
	line-height: 17px;
	height: 20px;
	position: relative;
	float: left;
	margin-right: 1px;
	z-index: 2;
	}
	
#tabs .tab, #tabs .tab a, #tabs .tab a:hover
	{
	font-size: 11px;
	font-family: Arial;
	text-decoration: none;
	color: #888D8E;
	}
	
#tabs .tab-selected
	{
	border-bottom: 1px solid white;
	background-color: white;
	}
	
#tabs .tab-page
	{
	width: 100%;
	border: 1px solid #C7EEF8;
	position: relative;
	float: left;
	top: -1px;
	visibility: hidden;
	display: none;
	font-size: 11px;
	background-color: white;
	padding: 10px;
	clear: both;
	}
	
#tabs .tab-page-selected
	{
	visibility: visible;
	display: block;
	}
	
#tab_manager
	{
	position: absolute; 
	display: none;
	visibility: hidden;
	background-color: white;  
	border: 1px solid #C7EEF8; 
	padding: 8px; 
	left: 0px; 
	top: 0px;
	z-index: 10;
	}
	
