/* Рабочий стол */
.desktop
{
	clear: both;
	padding-top: 20px;
}

.desktop .item
{
	width: 270px;
	height: 140px;
	float: left;
	padding-left: 105px;
	margin-right: 10px;
}

.desktop h3, .desktop h3 a
{
	color: #63b3fe;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.desktop .hpolls
{
	background: url('../img/icons/hpolls.gif') no-repeat;
}

.desktop .admins
{
	background: url('../img/icons/admins.gif') no-repeat;
}

.desktop .albums
{
	background: url('../img/icons/albums.gif') no-repeat;
}

.desktop .arbitrage
{
	background: url('../img/icons/arbitrage.gif') no-repeat;
}

.desktop .articles
{
	background: url('../img/icons/articles.gif') no-repeat;
}

.desktop .blogs
{
	background: url('../img/icons/blogs.gif') no-repeat;
}

.desktop .bookmarks
{
	background: url('../img/icons/bookmarks.gif') no-repeat;
}

.desktop .debates
{
	background: url('../img/icons/debates.gif') no-repeat;
}

.desktop .diary
{
	background: url('../img/icons/diary.gif') no-repeat;
}

.desktop .news
{
	background: url('../img/icons/news.gif') no-repeat;
}

.desktop .questions
{
	background: url('../img/icons/questions.gif') no-repeat;
}

.desktop .settings
{
	background: url('../img/icons/settings.gif') no-repeat;
}

.desktop .social
{
	background: url('../img/icons/social.gif') no-repeat;
}

.desktop .users
{
	background: url('../img/icons/users.gif') no-repeat;
}